# Dependências de Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Variáveis de ambiente e segredos locais
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
publish-profile.xml

# Ficheiros do Sistema Operativo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Ficheiros de Log do Servidor
*.log

# -------------------------------------------------------------------
# Configurações e Estado do Terraform (Adicionado para a pasta /infra)
# -------------------------------------------------------------------

# Ignorar pastas temporárias e plugins descarregados pelo Terraform
.terraform/

# Ignorar o estado local do Terraform (contém dados sensíveis da Azure)
*.tfstate
*.tfstate.*

# Ignorar variáveis secretas locais do Terraform
*.tfvars
*.tfvars.json

# Ignorar ficheiros de crash ou log do Terraform
crash.log
terraform.log

# Ignorar ficheiros de plano guardados localmente
*.tfplan

# Ignorar ficheiro de lock de concorrência do HCL
.terraform.lock.hcl